/* Navbar.css */
body {
    background-color: black; /* Black background for the body */
    color: white; /* White text for better contrast */
  }
.navbar {
    background-color: black !important; /* Black background for the body */
    
  }
  
  .navbar.shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Shadow when scrolled */
  }
  